package-lock = false
registry=http://apps-hp.danlu.netease.com:41842/repository/npm-group-prod/
always-auth=true
//apps-hp.danlu.netease.com:41842/repository/npm-hosted-prod/:_authToken = "NpmToken.008adfe7-edd6-35fd-8f76-85443366aa91" 
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
electron_mirror=https://npm.taobao.org/mirrors/electron/